body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body main {
  height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#timeBox {
  height: 80vh;
  width: 60vw;
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  align-items: center;
}

#outsideOfClock {
  height: 40vh;
  width: 50vw;
  border: 2px solid black;
  background-color: #272e38;
}

#container {
  height: 70%;
  width: 85%;
  margin: 5% auto;
  border: 2px solid black;
  background-color: #0f1620;
  border-radius: 8px;
  position: relative;
}

#outsideOfClock div h1 {
  color: white;
  text-align: center;
  height: 84%;
  width: 100%;
  font-size: clamp(7rem, 5vw + 1rem, 4rem);
  margin: 1px;
  font-family: monospace;
}

#day {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#day span {
  margin-top: 5px;
  color: #272e38;
}

#changetime {
  margin-top: 7vh;
  height: 6vh;
  width: 7vw;
  border: 1px solid black;
  border-radius: 40px;
  background-color: #272e38;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#t24 {
  height: 100%;
  width: 50%;
  border-radius: 20px 0px 0px 20px;
  background-color: #272e38;
  color: white;
  border: none;
}

#t12 {
  height: 100%;
  width: 50%;
  border-radius: 0px 20px 20px 0px;
  background-color: #272e38;
  color: white;
  border: none;
}

#changetime #btn {
  height: 100%;
  width: 50%;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
}

#ampm {
  display: inline-block;
  text-align: right;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
}

#tab {
  height: 7vh;
  width: 40vw;
  position: fixed;
  bottom: 0;
  background-color: #272e38;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px 25px 0px 0px;
}

#tab button {
  height: 75%;
  width: 32%;
  text-align: center;
  margin: auto;
  border: none;
  border-radius: 25px 25px 25px 25px;
}

#alarmBox {
  height: 80vh;
  width: 60vw;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mode {
  height: 4vh;
  width: 3vw;
  border-radius: 25px;
  border: 1px solid black;
  margin-left: 96vw;
}
